


@media screen and (min-width: 480px) {
  body {
    background-color: #DDC4F6;
     margin:0;
  }

  
  
}
.container{


  height: 60px;
  background: #CEDDE2;
  width: 100%;
  position: fixed;
  font-size: 15px;
  color: #fff;
  z-index: 10;
  letter-spacing: 1px;
  text-decoration-line: unset;
 }
 
  .banner{

    background: url(https://upload.wikimedia.org/wikipedia/commons/f/f9/Phoenicopterus_ruber_in_S%C3%A3o_Paulo_Zoo.jpg);
  margin: 5;
  padding: 10px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 150%;
  height: 1000px;
  position: relative;
  top: 10px;

  

}
  .content{
    
    height: 500px;
    width: 100%;
    background-color:#DDC4F6;
    
    
    top: 1px;
    padding: 40px;
    font-size: 20px;
    font-family: 'Source Sans Pro', sans-serif;
    word-spacing: 10px;
     column-count: 2;
  column-gap: 10px;
  



  }
  
 
 
